body {
    background: url("https://png.pngtree.com/thumb_back/fh260/back_pic/05/05/90/30596a0548054d6.jpg") no-repeat center center fixed;
    background-size: cover;
}

p {
    font-family: 'Life Savers', cursive;;
}

.ratings {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

img {
    height: 100px;
}

p {
    margin-top: 20px;
    color:green;
    font-size: 75px;
    align-content: center;
}

.btn-primary {
    margin-left: 10px;
    background: white;
    color: black;
}

@media screen and (max-width: 480px) {
    .movImage {
        width: 500px;
        height: 500px;
    }
    body {
        background-color: red;
    }
}

.form-control {
    width: 30%;
}

#add {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}