body {
    background: url("https://png.pngtree.com/thumb_back/fh260/back_pic/05/05/90/30596a0548054d6.jpg") no-repeat center center fixed;
    background-size: cover;
}

p {
    font-family: 'Life Savers', cursive;;
}

.ratings {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

img {
    height: 100px;
    vertical-align: 0;
}

#header {
    margin-top: 20px;
    color:#1316fc;
    font-size: 85px;
    display: -webkit-box;
    text-align: -webkit-center;
}

.btn-primary {
    margin-left: 10px;
    background: white;
    color: black;
}

@media screen and (max-width: 480px) {
    .movImage {
        width: 500px;
        height: 500px;
    }
    
    p{
        font-size: 45px;
        text-align: center;
    }
    .apple{
            display:none;
    }
}

.form-control {
    width: 30%;
}

#add {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}